@import "main.css";

.box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    background-color: var(--blue-color);
}

.flex-title {
    font-size: 1.2em;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 50px;
}

.flex-text {
    color: white;
    font-family: FuturicaLight !important;
}

#sual {
    background-image: url('../../../public/images/sual.png');
    background-size: cover;
}

#meslehet {
    background-image: url('../../../public/images/meslehet.png');
    background-size: cover;
}

#xidmet {
    background-image: url('../../../public/images/xidmet.png');
    background-size: cover;
}

#ofis {
    background-image: url('../../../public/images/ofis.png');
    background-size: cover;
}

#herbi {
    background-image: url('../../../public/images/herbi.png');
    background-size: cover;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    #banner {
        background-image: url('../../../public/images/law-courts.jpg');
        /* min-height: 200px; */
    }

    /* .banner-title {
        font-size: 1.2em;
    }

    .flex-title {
        font-size: 1em;
    }

    .title {
        font-size: 1.2em;
    } */
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    #banner {
        /* background-image: url('../images/banner\ 2.jpg'); */
    }
 }

 /* Large devices (desktops, 992px and down) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and down)  */
@media (min-width: 1200px) {

}
