@import "main.css";

#banner {
    background-image: url('../../../public/images/map.jpg');
}

.banner-title {
    color: var(--black-color);
}

iframe {
    border: 1px solid var(--blue-color);
    min-height: 500px;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    p {
        /* font-size: 0.5em; */
    }
}

