@import "main.css"; 

#banner {
    background-image: url('/assets/images/map.jpg');
}

.banner-title {
    color: var(--black-color);
}

.map {
    background-color: var(--black-color);
    min-height: 300px;
    background-image: url('/assets/images/map\ baku.png');
    background-size: cover;
}
