@import "main.css"; 

#banner {
    background-image: url('../images/map.jpg');
}

.banner-title {
    color: var(--black-color);
}

iframe {
    border: 1px solid var(--blue-color);
    min-height: 500px;
}

