@import "main.css"; 

#banner {
    background-image: url('../assets/images/map.jpg');
}

.banner-title {
    color: var(--black-color);
}

iframe {
    border-radius: 0% !important;
}

.map-container {
    border-radius: 1px solid var(--blue-color);
    min-height: 400px;
}
